.imageElement--cover {
  object-fit: cover;
}

.infoCardContainer {
  background: #cdefd1;
  max-width: 1260px;
  margin: 0 auto;
  padding: 0;
}

.infoCardContainer--vintage {
  background-color: #edcfd1;
}

.infoCardHeadline {
  font-family: serif;
  font-size: 2.25rem;
  font-weight: bold;
  color: black;
  border: 2px solid black;
  padding: 24px;
}

.infoCardCallActionContainer :global(.vtex-button) {
  color: gray;
  background-color: white;
  border: transparent;
  transition: 0.3s;
}

.infoCardCallActionContainer :global(.vtex-button):hover {
  color: white;
  background-color: gray;
  border: transparent;
}
